
#brand-auto {
    font-size: 48px;
    color: #00b5ec;
}

header nav a:hover {
    text-decoration: none;
}

#url {
    width: 600px;
}

#download {
    margin-top: 200px;
}

#dashboard {
    background-color: #00b5ec;
}